.idea
.changeset
.dockerignore
.nyc_output
.husky
.lintstagedrc.mjs
.prettierrc.json
.npmignore
eslint.config.mjs
**/vitest.shared.ts
**/node_modules
**/coverage
**/build
**/dist
**/logs
**/tests
**/docker*
**/Dockerfile
**/.env
**/.git*
**/.eslintignore
**/.prettierignore
**/*.md
packages/contracts/images
**/vitest.config.ts
**/development.json.sample
scratch
